@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 27, 30, 35;
  --background-start-rgb: 27, 30, 35;
  --background-end-rgb: 27, 30, 35;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 27, 30, 35;
    --background-start-rgb: 27, 30, 35;
    --background-end-rgb: 27, 30, 35;
  }
}

body {
  color: rgb(var(--foreground-rgb));
    background: linear-gradient(rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
